<p>
  Please RSVP below.  Responses to the RSVP fields below will not appear on this page.  If you want to leave a public note, enter it in the field at the bottom of the page.  Thanks!
</p>

<%= form_for( @response ) do |f| %>
  <% if @response.errors.any? %>
    <div id="errorExplanation">
      <ul>
        <% @response.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :selected_page, "rsvp" %>
  <div class="row clear">
    <div class="label"><%= f.label :name %></div>
    <div class="field"><%= f.text_field :name %></div>
  </div>
  <div class="row clear">
    <div class="label"><%= f.label :attending %></div>
    <div class="field"><%= f.select :attending, [["Yes","1"],["No","0"]] %></div>
  </div>
  <div class="row clear">
    <div class="label"><%= f.label :number, "Number attending" %></div>
    <div class="field"><%= f.number_field :number, :size => 3 %></div>
  </div>
  <div class="row clear">
    <div class="label"><%= f.label :comment %></div>
    <div class="field"><%= f.text_area :comment, :rows => 5 %></div>
  </div>
  <div class="row clear">
    <div class="label"> </div>
    <div class="field"><%= f.submit "RSVP" %></div>
  </div>
  <% if( flash[:notice] ) %>
    <div class="row clear">
      <div class="label"> </div>
      <div class="field" id="notice"><%= flash[:notice] %></div>
  <% end %>
<% end %>

<p>
  Paige Sorensen<br />
  (970)416-6328<br />
  paige@weddingitup.com
</p>

<p>
  Matt Rose<br />
  (970)430-6717<br />
  matt@weddingitup.com
</p>

<p>
  Feel free to leave a comment below.
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
  <% if( Rails.env == "development" ) %>
    var disqus_developer = 1;
  <% end %>
  /**
   * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
  */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://weddingitup.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=weddingitup">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<script type="text/javascript">
  var disqus_shortname = 'weddingitup';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.src = 'http://disqus.com/forums/weddingitup/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

